html {
    margin: 0;
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header div {
    margin: 10px;
}

header .pc_zone {
    color: white;
    display: flex;
    flex-grow: 2;
    flex-direction: row;
}

header .player_zone {
    color: white;
    display: flex;
    flex-grow: 2;
    flex-direction: row;
}

header .player_life {
    background-color: #242424;
    flex-grow: 4;
}

header .pc_life {
    background-color: #242424;
    flex-grow: 4;
}

header img {
    height: 50px;
    width: 50px;
    flex-grow: 1;
}

h1 {
    text-align: center;
    flex-grow: 2;
}


/* .game_zone {
    background-image: url("img/game.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
} */

.game_zone {
    background-image: url("img/game.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* J'ai rajouté ça pour que l'image arrête de trop bouger */
    background-position: center;
}

.history {
    background-color: white;
    height: 100px;
    width: 600px;
    margin-top: 30px;
    margin-bottom: -100px;
    border-radius: 10px;
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.war {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    margin-top: -100px;
}

.player {
    height: 280px;
    width: 180px;
    margin-top: 220px;
    margin-left: -300px;
}

.pc {
    height: 300px;
    width: 200px;
    /* /* margin-top:210px; */
    margin-left: 300px;
}


/* .cards_zone {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
} */

.cards_zone {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    text-align: center;
    /* margin: 20px 0; */
}

.cards_zone .card {
    height: 180px;
    width: 200px;
    background-color: pink;
    margin: 10px;
    filter: brightness(90%);
    border-radius: 10px;
}

.card p {
    font-size: 14px;
}

.cards_zone .card:hover {
    filter: brightness(100%);
}

footer {
    color: white;
    background-color: #242424;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.footer_buttons a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    font-size: 18px;
}

.footer_buttons a:hover {
    text-decoration: underline;
}

.modal-rules,
.modal-commandes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.modal h2 {
    margin-top: 0;
}

.close-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #242424;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


/* Afficher la fenêtre modale quand l'utilisateur clique sur le lien "Règles" */

.modal-rules.active,
.modal-commandes.active {
    display: flex;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.absolutegarbage {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 8999;
    pointer-events: none;
}

.blob {
    border-radius: 50%;
    background-color: black;
    position: absolute;
    z-index: 9000;
    pointer-events: none;
}

.slidersection {
    width: 20%;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: pink;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: pink;
    cursor: pointer;
}

.category {
    font-weight: bold;
}

.life-gauge {
    width: 200px;
    height: 30px;
    border: 1px solid #000;
    position: relative;
    padding: 0%;
}

.life-bar {
    height: 100%;
    background-color: green;
    margin: 0%;
}

.life-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-weight: bold;
}

.popup {
    width: auto;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 50px;
    color: #242424;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -200px;
}

.popup h2 {
    font-size: 36px;
    font-weight: 500;
    margin: 30px;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: pink;
    border: 0;
    outline: none;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popup button:hover {
    background: #242424;
    color: white;
}

table {
    border-collapse: collapse;
    width: 400px;
}

th,
td {
    padding: 10px;
    vertical-align: top;
}

th {
    background: pink;
}

td {
    background: #fefaef;
}
