html{
    margin:0;
    background-color: #FEFAEF;
}

header{
    height:70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .pc_zone{
    background-color: #242424;
    color:white;
    flex-grow: 2;
}

header .player_zone{
    background-color: #242424;
    color:white;
    flex-grow: 2;
}

h1{
    text-align: center;
    flex-grow: 2;
    background-color: pink;
}


.game_zone{
    background-image: url("img/game.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.cards_zone{
    height:200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;

}

.cards_zone .card{
    height:180px;
    width:200px;
    background-color: pink;
    margin: 10px;
}

footer{
    color:white;
    background-color: #242424;
    height:40px;
}